*{
    box-sizing: border-box;
}

/*Element Selector */
body{
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

/* media query*/
/* tablet : layout yang ditampilkan 4 kolom */
@media screen and (min-width: 600px){
    body{
        background-color: blue;
    }

    .col-sm-6{
        width: 50%;
        float: left;
    }

    
}

@media screen and (min-width: 992px){
    body{
        background-color: cornflowerblue;
    }

    .col{
        width: 25%;
        float: left;
    }

    .col-lg-2{
        width: 50%;
        float: left;
    }
    
    .col-lg-4{
    width: 33.33333333%;
    float: left;
}
}

/* CLass Selector */
.text-primary{
    color: #9370d8;
}

.col2{
    width: 25%;
    float: left;
}

.col1{
    width: 50%;
    float: left;
}

.img-responsive{
    width: 100%;
    border-radius: 50%;
}

.p-1{
    padding: 25px;
}

.col-50{
    width: 50%;
    float: left;
}

.col-25{
    width: 25%;
    float: right;
}

.row::after{
    content: "Pacar Guweh";
    clear: both;
    display: table;
}

.circle2{
    border-radius: 5%;
}